<html>

<head>
<style>
    body, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 1!important;
        padding: 10px;
    }
</style>
</head>

<body style="padding: 20px;">
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" />
    <script src="./js/jquery.min.js"></script>
    <p><span style="font-size: 18pt;"><strong>IVR Demo</strong></span></p>
    <p>Here you can find demos for three(3) types of IVRs. <strong>DTMF</strong>, <strong>ASR</strong> and <strong>AI
            Driven</strong> IVRs.<br>
        <a href="https://github.com/nexmo-se/ivr-3-types-demo">(Git Repo)</a></p>
    
    <p>Enter your phone number at the textbox below and press the type of Demo you want to experience. A call will be
        made to your number to start the Demo.</p>
    <p>&nbsp;</p>
    <p>You Phone Number (With Country code +XX then local number)</p>
    <p><input id="phone" name="phone" type="text"></p>
    <p><input id="dtmfcall" name="dtmfcall" type="button" value="DTMF Demo"></p>
    <p><input id="asrcall" name="asrcall" type="button" value="ASR Demo"></p>
    <p><input id="aicall" name="aicall" type="button" value="AI Demo"></p>
    <hr>
    <p>For this demo, we will do a simple Employee search in three(3) different Company sections, Accounting, Sales and
        Engineering.&nbsp;</p>
    <p>Follow the prompts to locate an employee. The available Employees for each Company section is listed below.</p>
    <p>&nbsp;</p>
    <p>Accounting</p>
    <table style="border-collapse: collapse; width: 42.5499%; height: 241px;" border="1">
        <colgroup>
            <col style="width: 33.3537%;">
            <col style="width: 33.3537%;">
            <col style="width: 33.3537%;">
        </colgroup>
        <tbody>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Surname</td>
            </tr>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>Billings</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Sarah</td>
                <td>Cash</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mark</td>
                <td>Yen</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Brian&nbsp;</td>
                <td>Shillings</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ron</td>
                <td>Banks</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>Sales</p>
    <table style="border-collapse: collapse; width: 42.5499%; height: 157.33px;" border="1">
        <colgroup>
            <col style="width: 33.3537%;">
            <col style="width: 33.3537%;">
            <col style="width: 33.3537%;">
        </colgroup>
        <tbody>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">ID</td>
                <td style="height: 26.2216px;">Name</td>
                <td style="height: 26.2216px;">Surname</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">6</td>
                <td style="height: 26.2216px;">Patrick</td>
                <td style="height: 26.2216px;">Sells</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">7</td>
                <td style="height: 26.2216px;">Hannah</td>
                <td style="height: 26.2216px;">Leads</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">8</td>
                <td style="height: 26.2216px;">Icy</td>
                <td style="height: 26.2216px;">Callings</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">9</td>
                <td style="height: 26.2216px;">Reve</td>
                <td style="height: 26.2216px;">Nue</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">10</td>
                <td style="height: 26.2216px;">Steve</td>
                <td style="height: 26.2216px;">Closings</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>Engineering</p>
    <table style="border-collapse: collapse; width: 42.5499%; height: 157.33px;" border="1">
        <colgroup>
            <col style="width: 33.3537%;">
            <col style="width: 33.3537%;">
            <col style="width: 33.3537%;">
        </colgroup>
        <tbody>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">ID</td>
                <td style="height: 26.2216px;">Name</td>
                <td style="height: 26.2216px;">Surname</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">11</td>
                <td style="height: 26.2216px;">Kim</td>
                <td style="height: 26.2216px;">Gigs</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">12</td>
                <td style="height: 26.2216px;">Maine</td>
                <td style="height: 26.2216px;">Funk</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">13</td>
                <td style="height: 26.2216px;">Softy</td>
                <td style="height: 26.2216px;">Wares</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">14</td>
                <td style="height: 26.2216px;">Allan</td>
                <td style="height: 26.2216px;">Bit</td>
            </tr>
            <tr style="height: 26.2216px;">
                <td style="height: 26.2216px;">15</td>
                <td style="height: 26.2216px;">Darren</td>
                <td style="height: 26.2216px;">Codes</td>
            </tr>
        </tbody>
    </table>

    <script>
        $(function () {
            $("#dtmfcall").click(function () {
                number = $("#phone").val()
                $.post("./dtmf", {
                    number: number
                })
                    .done(function (data) {
                        alert("DTMF Demo Starting. The Agent should call you in a bit")
                    }).fail(()=>{
                        alert("An Error has Occured")
                    });
            });

            $("#asrcall").click(function () {
                number = $("#phone").val()
                $.post("./asr", {
                    number: number
                })
                    .done(function (data) {
                        alert("ASR Demo Starting. The Agent should call you in a bit")
                    }).fail(()=>{
                        alert("An Error has Occured")
                    });
            });

            $("#aicall").click(function () {
                number = $("#phone").val()
                $.post("./ai", {
                    number: number
                })
                    .done(function (data) {
                        alert("AI Demo Starting. The Agent should call you in a bit")
                    }).fail(()=>{
                        alert("An Error has Occured")
                    });
            });
        });
    </script>
</body>

</html>